@{
    Layout = null;
}

<section class="footer">
    <div class="card card-footer">
        <div class="card-body card-container container">
            <div class="cards-img ">
                <img src="~/images/logo.png" alt="Service">
            </div>

            <div class="card-inner-text my-4 d-flex justify-content-between">
                <div class="card-inner-text-left">
                    <h5 class="fw-bold text-white">LSH Management Services Pte Ltd</h5>
                    <p class="text-white m-0">LSH Management Services Pte Ltd provides Accountancy, Corporate
                        Secretarial, Tax Consulting and Management Consultancy Services with the purpose of providing
                        "Total Services" to both local and international clients.</p>
                </div>

                <div class="card-inner-text-right">
                    <ul class="text-white text-uppercase">
                        <li>Home</li>
                        <li>Service Page</li>
                        <li>About LSH</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>

            <div class="footer-line"></div>
        </div>
    </div>
</section>


<style>

    .card {
        border: 0;
    }

    .card.card-footer {
        background: var(--darker-black, #23282D);
        padding: 40px 0;
    }

    .card-body.card-container {
        max-width: 1125px;
        padding: 0;
    }

    .card-container .cards-img {
        max-height: 140px;
        max-width: 168px;
    }

    .card-inner-text-left {
        max-width: 576px;
    }

    .card-inner-text-left h5 {
        font-size: 22px;
        line-height: 25.78px;
        margin-bottom: 12px;
    }

    .card-inner-text-right ul li {
        display: inline;
        padding-right: 32px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 700;
        line-height: 18.75px;
    }

    .card-inner-text-right ul li:last-child {
        padding-right: 0;
    }

    .footer-line{
        border: 1px solid #444444
    }
</style>