@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="banner" style="height:330px; background: #cecece"></div>

<div class="wrapper-container">
    <div class="service-container container mx-auto p-0">

        <section class="our-service">
            <div class='inner-text'>
                <h5 class="category fw-bold">Our Services</h5>
                <h2 class="text-title mb-4">Empowering Your Business Success</h2>
                <p class="mb-4x">LSH Management Services Pte Ltd (LSH) provides Accountancy, Corporate Secretarial, Tax
                    Consulting and Management Consultancy Services with the purpose of providing “Total Services” to
                    both local and international clients.</p>
            </div>
            <div class="container-service">
                <div class="row m-0 justify-content-between">
                    <div class="comp-cards p-0 col-md-3">
                        <div class="p-3">
                            <div class="como-cards-img mb-3">
                                <picture>
                                    <source media="(max-width: 768px)"
                                        srcset="../assets/images/seminar/img-mobile/desmon.png">
                                    <img src="~/images/home/secretarial.png" alt="Service">
                                </picture>
                            </div>
                            <div class="text-description">
                                <h5 class="card-title fw-bold  mb-2 ">Corporate Secretarial </h5>
                                <p class=" mb-0 pb-3 fs-6 text-grey">Expert company incorporation and compliance
                                    services for Singapore businesses.</p>
                                <button class="btn btn-primary btn-inner-text w-100">
                                    view
                                </button>
                            </div>
                        </div>

                    </div>

                    <div class="comp-cards p-0 col-md-3">
                        <div class="p-3">
                            <div class="como-cards-img mb-3">
                                <picture>
                                    <source media="(max-width: 768px)"
                                        srcset="../assets/images/seminar/img-mobile/desmon.png">
                                    <img src="~/images/home/accounting.png" alt="Service">
                                </picture>
                            </div>
                            <div class="text-description">
                                <h5 class="card-title fw-bold  mb-2 ">Accounting </h5>
                                <p class=" mb-0 pb-3 fs-6 text-account text-grey">Outsource accounting and payroll for
                                    cost-effective, efficient administration services. </p>
                                <button class="btn btn-primary btn-inner-text w-100">
                                    view
                                </button>
                            </div>
                        </div>

                    </div>

                    <div class="comp-cards p-0 col-md-3">
                        <div class="p-3">
                            <div class="como-cards-img mb-3">
                                <picture>
                                    <source media="(max-width: 768px)"
                                        srcset="../assets/images/seminar/img-mobile/desmon.png">
                                    <img src="~/images/home/taxation.png" alt="Service">
                                </picture>
                            </div>
                            <div class="text-description">
                                <h5 class="card-title fw-bold  mb-2 ">Taxation </h5>
                                <p class=" mb-0 pb-3 fs-6 text-grey">Tax Specialist offers comprehensive tax services
                                    for corporate and individual clients. </p>
                                <button class="btn btn-primary btn-inner-text w-100">
                                    view
                                </button>
                            </div>
                        </div>

                    </div>

                    <div class="comp-cards p-0 col-md-3">
                        <div class="p-3">
                            <div class="como-cards-img mb-3">
                                <picture>
                                    <source media="(max-width: 768px)"
                                        srcset="../assets/images/seminar/img-mobile/desmon.png">
                                    <img src="~/images/home/other-service.png" alt="Service">
                                </picture>
                            </div>
                            <div class="text-description">
                                <h5 class="card-title fw-bold  mb-2 ">Other Services </h5>
                                <p class=" mb-0 pb-3 fs-6 text-grey">Streamline corporate services with one-stop
                                    coordination for professional needs. </p>
                                <button class="btn btn-primary btn-inner-text w-100">
                                    view
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="mt-8x approach-our">
            <div class="d-flex flex-wrap justify-content-between">
                <div class="cards-img">
                    <img src="~/images/home/approach.png" alt="Cloud based phone system" />
                </div>

                <div class="pb-0 approach-our-right">
                    <div class='inner-text'>
                        <h5 class="category fw-bold">About LSH</h5>
                        <h2 class="text-title mb-4">Our Approach</h2>
                        <p class="mb-3">It is our policy to maintain a high level of integrity, professional standards
                            and quality services by: </p>
                        <div>
                            <ul class="m-0">
                                <li class="text-normal">Constantly keeping abreast of the new business developments and
                                    legislations as well as changing regulations.</li>
                                <li class="text-normal">Maintaining a high level of performance and professional
                                    knowledge</li>
                                <li class="text-normal">Ensuring that our clients receive the best possible advice and
                                    service at all times</li>
                            </ul>
                        </div>
                        <button class="btn btn-primary btn-inner-text mt-4">
                            Read More
                        </button>
                    </div>

                </div>
            </div>
        </section>

        <section class="mt-8x">
            <div class='inner-text'>
                <h5 class="category fw-bold">Locate Us</h5>
                <h2 class="text-title mb-4">Our Office</h2>
            </div>
            <div class="container-service">
                <div class="d-flex container-locate justify-content-between">
                    <div class="cards-img img-office-left">
                        <img src="~/images/home/office-sbf.png" alt="Cloud based phone system" />
                    </div>
                    <div class="cards-img img-location">
                        <img src="~/images/home/locate-map.png" alt="Cloud based phone system" />
                    </div>
                    <div class="cards-img">
                        <div class="locate-right-top cards-img mb-4">
                            <img src="~/images/home/office-sbf-top.png" alt="Cloud based phone system" />
                        </div>

                        <div class="locate-right-bottom cards-img">
                            <img src="~/images/home/office-sbf-elevator.png" alt="Cloud based phone system" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@await Html.PartialAsync("Shared/_contactForm")
