@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<!-- Render the banner partial view with a parameter -->
 @await Html.PartialAsync("Shared/_banner", "About LSH") 
    
